<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Favorites List</title>
  </head>
  <body>
<ul>
  <% @favorites.each do |favorite| %>
  <li><%= favorite["favorite"] %></li>
  <% end %>
</ul>

<form action="/favorites-list" method="post">
  <label for="favorites-list">Add New Favorite Thing</label>
  <input type="text" name="favorites-list" id="favorites-list">
  <input type="submit" value="Add">
</form>
  </body>
</html>
